<html lang="en">
<head>
    <title>{% block title %}List of Tournaments{% endblock %}</title>
    {% block styles %}{% endblock %}
</head>
<body>
    <button><a href="{{ object.get_absolute_games_url }}"> Back to Games </a> </button>
    <h1>{{ object.title }} Tournaments</h1>

    <ul>
        {% for entry in object.tournament_set.all %}
            <li>
                <img src="{{ entry.image.url }}" width="100" height="150"/> <br>
                <a href="{{ entry.get_absolute_detail_url }}">{{ entry.title }}</a> <br>
                Name: {{ entry.name }} <br>
                Tier: {{ entry.tier }} <br>
                Schedule: {{ entry.schedule }} <br>
                <button> Follow </button> &nbsp;&nbsp; <button> Show Leaderboards </button>
            </li>
            <br>
        {% empty %}
            There are no tournaments scheduled involving {{ object.title }}
        {% endfor %}
    </ul>
</body>
</html>