<html lang="en">
    <head>
        <title>{% block title %}My amazing site{% endblock %}</title>
        {% block styles %}{% endblock %}
    </head>
    <body>
        <h1>{{ object.title }} Tournaments</h1>

        <ul>
            {% for entry in object.tournament_set.all %}
            <li>
              <a href="{{ entry.get_absolute_detail_url }}" >
                {{ entry }}
              </a>
            </li>
            {% endfor %}
          </ul>
          <br>
    </body>
</html>